.welcome-container {
  position: relative;
  width: 100%;
  max-width: 1500px; /* Match navbar width */
  height: 90vh;
  margin: 0 auto;
  overflow: hidden;
}

.welcome-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  display: block;
  border-radius: 0;
}

.welcome-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.6rem;
  color: white;
  text-align: center;
  background-color: rgba(172, 172, 172, 0.24);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 2rem 2.5rem;
  font-family: 'Playfair Display', serif;
  z-index: 2;
  width:80%;
  max-width: 500px;
}